/* Write your code here. */
.faq-item {
  border: 2px solid #d7dae6;
  padding: 10px 13px;
  margin-bottom: 15px;
  border-radius: 8px;
}

.question-text {
  font-size: 20px;
  color: #52606d;
}

.ques-icon-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.plus-minus-btn {
  background-color: transparent;
  height: 30px;
  width: 30px;
  border: none;
  outline: none;
  cursor: pointer;
}

.plus-minus-img {
  width: 20px;
}

.answer-text {
  color: #9aa5b1;
  border-top: 2px solid #e4e7eb;
  padding-top: 10px;
}
